/* #mission{
    background-color: #ffee58;
}

/* #service{
    background-color:#ffa726;
} */


/* #library-team{
    background-color:#ffee58;
} */


/* #availability{
    background-color:#ffa726;
} */

#navigation-about-us {
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 10px 20px;
    background-color: #ffa726;
}

#navigation-about-us h3 {
    color: #fff;
    margin: 0;
    padding: 0 10px;
}

#navigation-about-us ul {
    margin: 0;
    padding: 0;
}

#navigation-about-us ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
}

#navigation-about-us li a {
    display: block;
    float: left;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
}

#library-team {
    display: flex;
    flex-direction: row;
}