body {
	background-color: white;
	margin: 0;
	width: 100%;
	font-family: 'Roboto';
	transition: 0.2s;
}

h3{
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-size:150%;
    color:black;
    font-weight:lighter;
}

h2{
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    color:#A0522D;
}

p{
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-weight:bold;
    font-size:20;
    color:#CD853F;
    text-align: justify;
}

#main-container {
	margin: 0;
	display: flex;
	flex: 1;
	flex-direction: column;
}
#navigation-about-us {
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 55px 0 0 0;
    padding: 10px 20px;
    background-color: #ffa726;
}

#navigation-about-us h3 {
    color: #fff;
    margin: 0;
    padding: 0 10px;
}

#navigation-about-us ul {
    margin: 0;
    padding: 0;
}

#navigation-about-us ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
}

#navigation-about-us li a {
    display: block;
    float: left;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
}
#library-team ul li{
    font-family:New Century Schoolbook, TeX Gyre Schola, serif;
    font-weight:bold;
    font-size:20;
    color:#8B4513;
}

.column{
    display:flex;
    flex-direction:column;
}

.row{
    display:flex;
    flex-direction:row;
}

.flex{
    flex:0.5;
}

.textwhite{
    color:white;
}

.textblack{
    color:black;
}

.textbrown{
    color:#B84507;
}
.navigation-text{
    font-family: "Roboto";
}

.padding{
    padding: 25px 25px;
}

.block-color{
    background-color:#ffea60;
}