.auth-container-header {
  display: flex;
  height: 30vh;
  top: 0px;
  width: 100%;
  z-index: 999999;
  background: url('../image/tensor.jpg') no-repeat;
  background-size: 100% 220%;
  align-items: center;
}

.auth-title {
  font-size: 34px;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 100;
}

.auth-container-body {
  height: 70vh;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
}

.auth-title, .auth-container-body {
  padding-left: 80px;
}

.auth-form, .auth-form-empty {
  display: flex;
  flex: .5;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex: .6;
  flex-direction: column;
  justify-content: center;
}

.button-group {
  display: flex;
  flex: .4;
  flex-direction: row;
  justify-content: flex-start;
}

.button-group > button {
  margin-right: 40px;
}