.gradient-background {
  background: linear-gradient(270grad, rgb(239, 108, 0) 0%, #eea751 100%);
}

.auth-form-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.auth-form {
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 1px;
}

.back-btn {
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  border: none;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s ease-in-out;

  position: fixed;
  top: 50px;
  left: 50px;
}

.back-btn:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.02);
}

.back-btn > span {
  color: grey;
  font-size: 30px;
}

.button-group {
  display: flex;
  flex-direction: row;
}