.explore-container {
  /* height: 100vh; */
}

.explore-content-row {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.explore-content-row-header {
  flex: 0.2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.explore-row-title {
  margin-left: 10px;
}

.explore-content-row-body {
  flex: 0.8;
  display: flex;
}

.see-all {
  text-decoration: none;
}

.book-block {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.book-image-container {
  display: flex;
  width: 120px;
  height: 140px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 1px;
  
}

.book-title {
  font-size: 12px;
}