.explore-container {
  /* height: 100vh; */
}

.explore-content-row {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.explore-content-row-header {
  flex: 0.2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.explore-row-title {
  margin-left: 10px;
}

.explore-content-row-body {
  flex: 0.8;
  display: flex;
}

.see-all {
  text-decoration: none;
}

.small-book-block {
  display: flex;
  flex-direction: column;
  margin: 0 20px 10px 10px;
  align-items: center;
}

.small-book-image-container {
  display: flex;
  width: 100px;
  height: 140px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  border-radius: 1px;
}

.small-book-image {
  height: 100%;
  width: 100%;
}

.small-book-title-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 100px;
}

.small-book-title {
  font-size: 12px;
  text-align: center;
}