.footer-container {
  height: 280px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
  padding: 30px 20px;
  background-color: #455962;
  width: 100%;
}

.footer-item-container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.footer-item {
  flex: 0.3;
}

.footer-item *,  
.copyright-text {
  color: #fafafa;
  /* font-family: 'Roboto-Thin'; */
  font-weight: 200;
  text-decoration: none;
}

#footer-item-2 {
  display: flex;
  flex-direction: column;
}

#footer-item-2 > a {
  padding-bottom: 5px;
}

.copyright-text {
  margin-top: 40px;
  text-align: center;
}