.hamburger-container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 26px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

.side-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 55px;
  right: 0;
  background-color: #FAFAFA;
  overflow-x: hidden;
  transition: 0.3s;
  box-shadow: 0 16px 22px rgba(0,0,0,0.25);
}

.user-account-header, .user-account-container {
  padding: 0 35px;
}

.user-account-header {
  display: flex;
  flex: 0.25;
  background: url('../image/tensor.jpg') no-repeat;
  background-size: 100% 200%;
  align-items: center;
  align-items: center;
}

.user-account-header > p {
  font-size: 30px;
  font-weight: 100;
  font-family: 'Roboto-Thin';
  color: #fafafa;
}

.user-account-container {
  display: flex;
  flex: 0.75;
  flex-direction: column;
  padding-left: 40px;
  /* justify-content: center; */
}

.user-account-container > p {
  font-size: 20px;
  font-weight: 100;
  color: grey;
  font-family: 'Roboto-Thin';
}