.test-shit {
	border: 3px solid red;
}

body {
	background-color: white;
	margin: 0;
	width: 100%;
	font-family: 'Roboto';
	transition: 0.2s;
}

h1{
	font-family:Impact, Charcoal, sans-serif;
	color:#ff5722;
	font-size:300%;
}

img {
	padding: 10px;
	width:100%;
	height:auto;
}

table {
	border: 2px solid lightseagreen;
	border-bottom-right-radius: 5px;
}

td {
	padding-left: 10px;
	padding-right: 10px;
}

p {
	text-align: justify;
}

#main-container {
	margin: 0;
	display: flex;
	flex: 1;
	flex-direction: column;
}

#info-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-top: 55px;
	padding: 0 20px;
}

/* .library-image {
	width: 50%;
	height: auto;
	display: block;
} */

.to-right {
	float: right;
}

.to-left {
	float: left;
}

.some-shadow {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.image-button{
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
}


/*add some padding to compensate for the sticky header*/

.sticky-header-padding {
	padding-top: 55px;
}

/* remove outline width from the following elements */

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
