.material-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 45px;
    background-color: red;
    border-radius: 3px;
    box-shadow: 0 6px 10px 0 #666;
    font-size: 20px;
    color: white;
    transition: all 0.1s ease-in-out;
}

.material-button:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.02);
}

.btn-orange {
    background-color: rgb(239, 108, 0);
}