#navigation {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0 20px;
  background-color: rgba(32, 32, 32, 0.95);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	list-style-type: none;
	display: inline;
}

#navigation li a {
	display: block;
	float: left;
	padding: 5px 10px;
	color: tomato;
	text-decoration: underline;
	border-right: 1px solid darkblue;
}

#navigation li a:hover {
	background: yellow;
}