.test-shit {
	border: 5px solid red;
}

body{
	background-color: paleturquoise;
	margin: 0;
}

img{
	padding: 10px;
}

#main {
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
#navigation{
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navigation ul{
	margin: 0;
	padding: 0;
}

#navigation ul li{
	list-style-type: none;
	display: inline;
}

#navigation li a{
	display: block;
	float: left;
	padding: 5px 10px;
	color: deeppink;
	text-decoration: underline;
	border-right: 1px solid darkblue;
}

#navigation li a:hover{
	background: yellow;
}

#content{
	display:flex;
	flex-direction: row;
	margin: 0;
	flex:0.75;
	width: 100%;
	height: 100%

}
#library-info{
	width:100%;
	flex:0.75;
}

#user-info{
	width: 100%;
	flex: 0.25;
}

#user-info-table {
	width: 100%;
	padding: 10px;
}

.to-right{
	float: right;
}

.to-left{
	float: left;
}